@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.relative {
    position: sticky;
}
canvas{
    position: sticky;
    top : 0;
    height: 300vh;
}#lm{
    height: 60vh;
    width: 30vw;
    position: relative;
    margin-left: 200px;
    margin-top: 150px;
}
#lmd{
    height: 100vh;
    width: 100vw;
    display: flex;
}#vect{
    font-size: 4rem;
    color :#9CDBA6;
    font: Playfair;
    margin-top: 25%;
    margin-left: 10%;
    height: 50px;

}

 @media (max-width: 768px) {
     #lmd {
         display: flex;
         flex-direction: column;
         height: 450px;
         align-items: center;
     }
     #lm{
         height:300px;
         width: 300px;
         margin-left: 0;
         margin-top: 0;
     }#vect{
          font-size: 3.5rem;
          margin-top: 2%;
     margin-left: 0;
          margin-bottom: 5%;
      }
 }