
appdirs==1.4.4

atomicwrites==1.4.0

django-rest-framework==0.1.0
djangorestframework==3.15.2
djangorestframework-gis==1.0

tqdm==4.66.1

GDAL==3.6.2
Shapely==2.0.1
jsonpointer==2.1

mkl-service==2.4.1

numpy==1.26.4

protobuf==3.20.3
psycopg2==2.9.9

pyasn1-modules==0.2.8

pycurl==7.45.2

pyls-spyder==0.4.0

pyproj==3.6.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6

setuptools==69.5.1
gunicorn==23.0.0
torch==2.2.2

wheel==0.43.0
django
django-cors-headers==3.14.0
