
appdirs==1.4.4

atomicwrites==1.4.0

django-rest-framework==0.1.0
djangorestframework==3.15.2
djangorestframework-gis==1.0

GDAL==3.6.2

jsonpointer==2.1

mkl-service==2.4.0

numpy==1.26.4

protobuf==3.20.3
psycopg2==2.9.9

pyasn1-modules==0.2.8

pycurl==7.45.2

pyls-spyder==0.4.0

pyproj==3.6.1
PyQt5==5.15.10
PyQtWebEngine==5.15.6

pywin32==305.1

setuptools==69.5.1

torch==2.4.0

wheel==0.43.0
django
