.imagediv2{
    width : 60vw;height: 90vh;
    background-color:#DEF9C4;
    border-radius: 10%;
}
.App2{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2.8%;
}
.head2{
    margin-left: 30%;
    font-family: sans-serif;
    margin-top: 3%;
}