//html {
//    height: 100vh;
//    overflow: hidden;
//  }
.wrapperContact {
   width: 100vw;
   height: 50vh;
   margin:0;
   line-height: 20px;
   background: #9CDBA6;
   perspective: 1px;
   transform-style: preserve-3d;
   overflow-x: hidden;
   overflow-y: scroll;
 }

.formCont {
  margin-top: 20px;
}

.formRowC {
  margin: 40px 0 40px 0;
}

.formInputC {
  padding: 15px 10px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btnC {
  padding: 150px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}



