//html {
//    height: 100vh;
//    overflow: hidden;
//  }
.wrapperContact {
   width: 100vw;
   height: 50vh;
   margin:0;
   line-height: 20px;
   background: #9CDBA6;
   perspective: 1px;
   transform-style: preserve-3d;
   overflow-x: hidden;
   overflow-y: scroll;
 }
 .App {
  height: 75vh;
  margin-top: 15vh;
}
 form {
  margin-top: 20px;
}

.formRowC {
  margin: 40px 0 40px 0; 
}

.formInputC {
  padding: 15px 10px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btnC {
  padding: 150px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .submit-message {
    width: 12 5px;
    margin-left: 200px;
  }
}
  .text {
    top:30%;
    left:50%;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    font-size: 15vw;
    color:white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    transform: scale(1,1.1) translate(-50%, 10%);
  }

