.relative {
    position: sticky;
}
canvas{
    position: sticky;
    top : 0;
    height: 300vh;
}
@media (max-width: 768px) {
    #lmd {
        display: flex;
        flex-direction: column;
        height: 450px;
        align-items: center;
    }
    #lm{
        height:300px;
        width: 300px;
        margin-left: 0;
        margin-top: 0;
    }#vect{
         font-size: 3.5rem;
         margin-top: 2%;
    margin-left: 0;
         margin-bottom: 5%;
     }
}