.navbar{
    height : 20px !important;
    display: flex !important;
    max-width :1366px;
    width: 100vw;
    height: 100px;
    position: absolute !important;
    background-color: transparent;
    color: whitesmoke;
    z-index: 100;
    .wrappern{

        width :1366px;
        height: 100px;
        display: flex;
        margin-left: 90px;
        margin-right:  40px;
        justify-content: space-between;
        align-items: center;
        span{
            font-weight: bold;
            font-size: 1.5rem;
            //scolor: greenyellow;
        }
        .social{
            display: flex;
            gap:20px;
            align-items: center;
            height: 20px;
            img{
            width: 20px;
            height: 20px;

            }
        }
    }
}